<div class="grid p-0">
    <p-tabView class="col-12 p-0 pt-2">
        <p-tabPanel header="Detalhes">
            <div class="grid p-0">

                <div class="col-12 md:col-12">

                    <div class="p-fluid p-formgrid grid">
                        <div class="field col-12 md:col-12  mb-0 pb-0">
                            <label htmlFor="esporteTipos" class="font-bold">Esporte Tipo</label>
                            <p-dropdown id="esporteTipos" [options]="esporteTipos" [disabled]="isNotUserCreator"
                                [(ngModel)]="event.esporteTipo" placeholder="Filtrar Esporte Tipo"></p-dropdown>
                        </div>

                        <div class="field col-12 mb-0 pb-0">
                            <label for="description" class="font-bold">Descrição</label>
                            <textarea class="w-full" id="description" pInputTextarea [disabled]="isNotUserCreator"
                                [(ngModel)]="event.descricao" required rows="3"></textarea>
                        </div>
                    </div>
                </div>

                <div class="col-12 md:col-6">
                    <div class="p-fluid p-formgrid grid">

                        <div class="field align-items-center flex flex-row col-12 m-0"
                            style="background: #f9fafb; border-radius: 10px;">
                            <div class="flex align-items-center justify-content-center border-round"
                                style="color: #FFFFFF; background-color: #2563eb;background-image: linear-gradient(152deg, #2563eb 0%, #39b7b7 100%);"
                                [ngStyle]="{width: '3rem', height: '3rem'}">
                                <i class="pi pi-map-marker text-3xl"></i>
                            </div>

                            <label class="font-bold ml-2 mt-2 font-size-18" style="font-size: 14px;">Localização</label>
                        </div>

                        <div class="field col-12 md:col-4 mb-0 pb-0">
                            <label htmlFor="cityName" class="font-bold">Cidade</label>
                            <input pInputText id="cityName" disabled="true" [(ngModel)]="event.location.city.name" />
                        </div>

                        <div class="field col-12 md:col-8 mb-0 pb-0">
                            <label htmlFor="address" class="font-bold">Endereço</label>
                            <input pInputText id="address" [disabled]="isNotUserCreator"
                                [(ngModel)]="event.location.address" />
                        </div>

                        <div class="field col-12 md:col-12 mb-0 pb-0">
                            <label htmlFor="local" class="font-bold">Local</label>
                            <input pInputText id="local" [disabled]="isNotUserCreator"
                                [(ngModel)]="event.location.local" />
                        </div>

                    </div>
                </div>

                <div class="col-12 md:col-6">
                    <div class="p-fluid p-formgrid grid">

                        <div class="field align-items-center flex flex-row col-12 m-0"
                            style="background: #f9fafb; border-radius: 10px;">
                            <div class="flex align-items-center justify-content-center border-round"
                                style="color: #FFFFFF; background-color: #2563eb;background-image: linear-gradient(152deg, #2563eb 0%, #39b7b7 100%);"
                                [ngStyle]="{width: '3rem', height: '3rem'}">
                                <i class="pi pi-clock text-3xl"></i>
                            </div>

                            <label class="font-bold ml-2 mt-2 font-size-18" style="font-size: 14px;">Horário</label>
                        </div>

                        <div class="field col-12 md:col-12 mb-0 pb-0">
                            <label htmlFor="tipoHorario" class="font-bold">Tipo Horário</label>
                            <p-dropdown id="tipoHorario" [(ngModel)]="event.configHorario.tipo"
                                [disabled]="isNotUserCreator" [options]="eventoHorarioTipos"
                                placeholder="Filtrar Esporte Tipo"></p-dropdown>
                        </div>


                        <div *ngIf="event.configHorario.tipo === NAO_SE_REPETE" class="field col-12 md:col-6 mb-0 pb-0">
                            <label htmlFor="date" class="font-bold">Dia/Hora Começo</label>
                            <p-calendar id="date" [(ngModel)]="event.configHorario.uniqueSchedule.startSchedule"
                                [iconDisplay]="'input'" [hourFormat]="24" [showIcon]="true"
                                [disabled]="isNotUserCreator" [showTime]="true" inputId="calendar-24h" />
                        </div>

                        <div *ngIf="event.configHorario.tipo === NAO_SE_REPETE" class="field col-12 md:col-6">
                            <label htmlFor="date" class="font-bold">Dia/Hora Fim</label>
                            <p-calendar id="date" [(ngModel)]="event.configHorario.uniqueSchedule.endSchedule"
                                [iconDisplay]="'input'" [hourFormat]="24" [showIcon]="true" [showTime]="true"
                                inputId="calendar-24h" [disabled]="isNotUserCreator" />
                        </div>


                        <div *ngIf="event.configHorario.tipo === SEMANAL" class="field col-12 md:col-6">
                            <label htmlFor="date" class="font-bold">Dias da Semana</label>
                            <p-multiSelect [options]="diasSemanas" [(ngModel)]="diasSemanasSelected"
                                (onChange)="onDaySelect()" placeholder="Selecionar os dias da semana"
                                [disabled]="isNotUserCreator" />
                        </div>

                        <div *ngIf="event.configHorario.tipo === SEMANAL" class="field col-12 md:col-3">
                            <label htmlFor="date" class="font-bold">Hora Começo</label>

                            <p-calendar [(ngModel)]="event.configHorario.horarioSemanal.startHour"
                                [iconDisplay]="'input'" [showIcon]="true" [timeOnly]="true" inputId="templatedisplay"
                                [disabled]="isNotUserCreator">
                                <ng-template pTemplate="inputicon" let-clickCallBack="clickCallBack">
                                    <i class="fa-regular fa-clock  pointer-events-none"
                                        (click)="clickCallBack($event)"></i>
                                </ng-template>
                            </p-calendar>

                        </div>

                        <div *ngIf="event.configHorario.tipo === SEMANAL" class="field col-12 md:col-3">
                            <label htmlFor="date" class="font-bold">Hora Fim</label>

                            <p-calendar [(ngModel)]="event.configHorario.horarioSemanal.endHour" [iconDisplay]="'input'"
                                [showIcon]="true" [timeOnly]="true" inputId="templatedisplay"
                                [disabled]="isNotUserCreator">
                                <ng-template pTemplate="inputicon" let-clickCallBack="clickCallBack">
                                    <i class="fa-regular fa-clock pointer-events-none"
                                        (click)="clickCallBack($event)"></i>
                                </ng-template>
                            </p-calendar>

                        </div>
                    </div>
                </div>
            </div>
        </p-tabPanel>
        <p-tabPanel header="Horários">
            <p-table [value]="event.schedules" [paginator]="true" [rows]="5" [rowsPerPageOptions]="[5, 10]">
                <ng-template pTemplate="header">
                    <tr>
                        <th>Horário Começo</th>
                        <th>Horário Fim</th>
                        <th style="align-items: center;">Situação</th>
                        <th style="align-items: center;">Frequência</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-schedule>
                    <tr>
                        <td>{{ getScheduleFormated(schedule.horarioComeco) }}</td>
                        <td>{{ getScheduleFormated(schedule.horarioFim) }}</td>
                        <td>
                            <p-dropdown [options]="scheduleSituations" [disabled]="isNotUserCreator" [(ngModel)]="schedule.situation" />
                        </td>
                        <td>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </p-tabPanel>
        <p-tabPanel header="Participantes">
            <div class="col-12">

                <div class="col-12 md:col-12 p-1">
                    <div class="card p-1 surface-border">
                        <div class="flex flex-row align-items-center justify-content-between p-2">
                            <div class="flex flex-row align-items-center ">
                                <p-avatar class="mr-2"
                                    image="https://primefaces.org/cdn/primeng/images/demo/avatar/xuxuefeng.png"
                                    size="large" shape="circle" />
                                <div>
                                    <div class=" text-1xl mb-1 font-bold">{{ event.userCreator.name }} {{
                                        event.userCreator.lastName }}</div>
                                    <p-tag severity="warning" value="Organizador" />
                                </div>
                            </div>
                            <div class="flex flex-row align-items-center">
                                <button pButton pRipple type="button" icon="pi pi-user-plus" (click)="openWhatsapp()"
                                    class="p-button-rounded p-button-success p-button-outlined"></button>
                                <button pButton pRipple type="button" icon="pi pi-whatsapp" (click)="openWhatsapp()"
                                    class="p-button-rounded p-button-success p-button-outlined"></button>
                            </div>
                        </div>
                    </div>
                </div>

                <p-dataView #dv [value]="event.participants" [paginator]="true" [rows]="9" filterBy="name"
                    layout="grid">
                    <ng-template let-products pTemplate="gridItem">
                        <div class="grid grid-nogutter">
                            <div class="col-12 md:col-3" *ngFor="let participante of event.participants">
                                <div class="card p-1 m-2 surface-border">
                                    <div class="flex flex-row align-items-center justify-content-between p-2">
                                        <div class="flex flex-row align-items-center">
                                            <p-avatar class="mr-3"
                                                image="https://primefaces.org/cdn/primeng/images/demo/avatar/xuxuefeng.png"
                                                size="large" shape="circle" />
                                            <div class="text-1xl font-bold">{{participante.user.name}}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </p-dataView>

            </div>
        </p-tabPanel>
    </p-tabView>

    <div class="col-12 p-0 flex flex-row align-items-center justify-content-end ">

        <button pButton pRipple type="button" label="Excluir" (click)="participateEvent()"
            class="p-button-rounded"></button>

        <button pButton pRipple type="button" label="Participar" (click)="participateEvent()"
            class="p-button-rounded"></button>
    </div>

</div>
