<div class="card m-0 p-0">
    <div class="flex align-items-center justify-content-left m-0 background-avatar">
        <p-avatar class="mr-2 avatar" syle image="https://primefaces.org/cdn/primeng/images/demo/avatar/xuxuefeng.png"
            size="xlarge" shape="circle" />
        <div class="name">
            {{ user.name }} {{ user.lastName }}
        </div>
    </div>

    <div class="grid p-5 pt-1">
        <div class="col-12 md:col-8">
            <p-card header="Detalhes Pessoais">
                <p class="m-0">
                    Lorem ipsum dolor sit amet...
                </p>
            </p-card>
        </div>

        <div class="col-12 md:col-4">
            <p-card header="Amigos" style="background-color: #f9fafb;">
                <p class="m-0">
                    Lorem ipsum dolor sit amet...
                </p>
            </p-card>
        </div>
    </div>

</div>
