<form #myForm="ngForm" class="grid p-0">
    <div class="col-12 md:col-12">

        <div class="p-fluid p-formgrid grid">
            <div class="field col-12 md:col-12  mb-0 pb-0">
                <label htmlFor="sportType" class="font-bold">Esporte Tipo</label>
                <p-dropdown name="sportType" id="sportType" [options]="esporteTipos" required="true"
                    [(ngModel)]="event.sportType" placeholder="Filtrar Esporte Tipo"></p-dropdown>
            </div>

            <div class="field col-12 mb-0 pb-0">
                <label for="description" class="font-bold">Descrição</label>
                <textarea name="description" class="w-full" id="description" pInputTextarea
                    [(ngModel)]="event.description" required rows="3"></textarea>
            </div>
        </div>
    </div>

    <div class="col-12 md:col-6">
        <div class="p-fluid p-formgrid grid">

            <div class="field align-items-center flex flex-row col-12 m-0"
                style="background: #f9fafb; border-radius: 10px;">
                <div class="flex align-items-center justify-content-center border-round"
                    style="color: #FFFFFF; background-color: #2563eb;background-image: linear-gradient(152deg, #2563eb 0%, #39b7b7 100%);"
                    [ngStyle]="{width: '3rem', height: '3rem'}">
                    <i class="pi pi-map-marker text-3xl"></i>
                </div>

                <label class="font-bold ml-2 mt-2 font-size-18" style="font-size: 14px;">Localização</label>
            </div>

            <div class="field col-12 md:col-4 mb-0 pb-0">
                <label htmlFor="cityName" class="font-bold">Cidade</label>
                <input pInputText id="cityName" name="cityName" disabled="true"
                    [(ngModel)]="event.location.city.name" />
            </div>

            <div class="field col-12 md:col-8 mb-0 pb-0">
                <label htmlFor="address" class="font-bold">Endereço</label>
                <input pInputText id="address" name="address" [(ngModel)]="event.location.address" />
            </div>

            <div class="field col-12 md:col-12 mb-0 pb-0">
                <label htmlFor="local" class="font-bold">Local</label>
                <input pInputText id="local" name="local" [(ngModel)]="event.location.local" />
            </div>

        </div>
    </div>

    <div class="col-12 md:col-6">
        <div class="p-fluid p-formgrid grid">

            <div class="field align-items-center flex flex-row col-12 m-0"
                style="background: #f9fafb; border-radius: 10px;">
                <div class="flex align-items-center justify-content-center border-round"
                    style="color: #FFFFFF; background-color: #2563eb;background-image: linear-gradient(152deg, #2563eb 0%, #39b7b7 100%);"
                    [ngStyle]="{width: '3rem', height: '3rem'}">
                    <i class="pi pi-clock text-3xl"></i>
                </div>

                <label class="font-bold ml-2 mt-2 font-size-18" style="font-size: 14px;">Horário</label>
            </div>

            <div class="field col-12 md:col-12 mb-0 pb-0">
                <label htmlFor="tipoHorario" class="font-bold">Tipo Horário</label>
                <p-dropdown id="tipoHorario" name="tipoHorario" [(ngModel)]="event.configHorario.tipo"
                    [options]="eventoHorarioTipos" placeholder="Filtrar Horário Tipo"></p-dropdown>
            </div>


            <div *ngIf="event.configHorario.tipo === NAO_SE_REPETE" class="field col-12 md:col-6 mb-0 pb-0">
                <label htmlFor="startSchedule" class="font-bold">Dia/Hora Começo</label>
                <p-calendar id="startSchedule" name="startSchedule"
                    [(ngModel)]="event.configHorario.uniqueSchedule.startSchedule" [iconDisplay]="'input'"
                    [hourFormat]="24" [showIcon]="true" [showTime]="true" inputId="calendar-24h" />
            </div>

            <div *ngIf="event.configHorario.tipo === NAO_SE_REPETE" class="field col-12 md:col-6">
                <label htmlFor="date" class="font-bold">Dia/Hora Fim</label>
                <p-calendar id="date" [(ngModel)]="event.configHorario.uniqueSchedule.endSchedule"
                    [iconDisplay]="'input'" [hourFormat]="24" [showIcon]="true" [showTime]="true"
                    inputId="calendar-24h" />
            </div>


            <div *ngIf="event.configHorario.tipo === SEMANAL" class="field col-12 md:col-6">
                <label htmlFor="date" class="font-bold">Dias da Semana</label>
                <p-multiSelect [options]="diasSemanas" [(ngModel)]="diasSemanasSelected" (onChange)="onDaySelect()"
                    placeholder="Selecionar os dias da semana" />
            </div>

            <div *ngIf="event.configHorario.tipo === SEMANAL" class="field col-12 md:col-3">
                <label htmlFor="startHour" class="font-bold">Hora Começo</label>

                <p-calendar [(ngModel)]="event.configHorario.horarioSemanal.startHour" name="startHour" id="startHour"
                    [iconDisplay]="'input'" [showIcon]="true" [timeOnly]="true" inputId="templatedisplay">
                    <ng-template pTemplate="inputicon" let-clickCallBack="clickCallBack">
                        <i class="fa-regular fa-clock  pointer-events-none" (click)="clickCallBack($event)"></i>
                    </ng-template>
                </p-calendar>

            </div>

            <div *ngIf="event.configHorario.tipo === SEMANAL" class="field col-12 md:col-3">
                <label htmlFor="endHour" class="font-bold">Hora Fim</label>

                <p-calendar [(ngModel)]="event.configHorario.horarioSemanal.endHour" name="endHour" id="endHour"
                    [iconDisplay]="'input'" [showIcon]="true" [timeOnly]="true" inputId="templatedisplay">
                    <ng-template pTemplate="inputicon" let-clickCallBack="clickCallBack">
                        <i class="fa-regular fa-clock pointer-events-none" (click)="clickCallBack($event)"></i>
                    </ng-template>
                </p-calendar>

            </div>
        </div>
    </div>

    <div class="col-12 md:col-12">

        <div class="p-fluid p-formgrid grid">

            <div class="field align-items-center flex flex-row col-12 m-0"
                style="background: #f9fafb; border-radius: 10px;">
                <div class="flex align-items-center justify-content-center border-round"
                    style="color: #FFFFFF; background-color: #2563eb;background-image: linear-gradient(152deg, #2563eb 0%, #39b7b7 100%);"
                    [ngStyle]="{width: '3rem', height: '3rem'}">
                    <i class="pi pi-users text-3xl"></i>
                </div>

                <label class="font-bold ml-2 mt-2 font-size-18" style="font-size: 14px;">Participantes</label>
            </div>

            <div class="field col-12 md:col-4 mb-0 ml-3 mr-3">
                <label htmlFor="amountParticipants" class="font-bold">Quantidade de Participantes</label>
                <input pInputText id="amountParticipants" name="amountParticipants"
                    [(ngModel)]="event.amountParticipants" type="number" />
            </div>

            <div class="field col-12 md:col-2 mb-0 pb-0 flex align-items-center">
                <label htmlFor="creatorIsParticipant" class="font-bold"></label>
                <p-checkbox [(ngModel)]="event.creatorIsParticipant" [binary]="true" inputId="binary"
                    id="creatorIsParticipant" label="Você é participante?" name="creatorIsParticipant"/>
            </div>

        </div>
    </div>

    <div class="col-12 p-0 flex flex-row align-items-center justify-content-end ">
        <button (click)="salvarEvento()" [disabled]="isFormInvalid()" pButton pRipple type="button" label="Salvar"
            class="p-button-rounded p-button-success"></button>
    </div>

</form>




<!-- <div class="grid">
	<div class="col-12 md:col-6">
		<div class="card p-fluid">
			<h5>Vertical</h5>
			<div class="field">
				<label htmlFor="name1">Name</label>
				<input pInputText id="name1" type="text" />
			</div>
			<div class="field">
				<label htmlFor="email1">Email</label>
				<input pInputText id="email1" type="text" />
			</div>
			<div class="field">
				<label htmlFor="age1">Age</label>
				<input pInputText id="age1" type="text" />
			</div>
		</div>

		<div class="card p-fluid">
			<h5>Vertical Grid</h5>
			<div class="p-formgrid grid">
				<div class="field col">
					<label htmlFor="name2">Name</label>
					<input pInputText id="name2" type="text" />
				</div>
				<div class="field col">
					<label htmlFor="email2">Email</label>
					<input pInputText id="email2" type="text" />
				</div>
			</div>
		</div>
	</div>

	<div class="col-12 md:col-6">
		<div class="card p-fluid">
			<h5>Horizontal</h5>
			<div class="field grid">
				<label htmlFor="name3" class="col-12 mb-2 md:col-2 md:mb-0">Name</label>
				<div class="col-12 md:col-10">
					<input pInputText id="name3" type="text" />
				</div>
			</div>
			<div class="field grid">
				<label htmlFor="email3" class="col-12 mb-2 md:col-2 md:mb-0">Email</label>
				<div class="col-12 md:col-10">
					<input pInputText id="email3" type="text" />
				</div>
			</div>
		</div>

		<div class="card">
			<h5>Inline</h5>
			<div class="formgroup-inline">
				<div class="field">
					<label htmlFor="firstname1" class="p-sr-only">Firstname</label>
					<input pInputText id="firstname1" type="text" placeholder="Firstname" />
				</div>
				<div class="field">
					<label htmlFor="lastname1" class="p-sr-only">Lastname</label>
					<input pInputText id="lastname1" type="text" placeholder="Lastname" />
				</div>
				<button pButton label="Submit"></button>
			</div>
		</div>

		<div class="card">
			<h5>Help Text</h5>
			<div class="field p-fluid">
				<label htmlFor="username">Username</label>
				<input pInputText id="username" type="text" />
				<small>Enter your username to reset your password.</small>
			</div>
		</div>
	</div>

	<div class="col-12">
		<div class="card">
			<h5>Advanced</h5>
			<div class="p-fluid p-formgrid grid">
				<div class="field col-12 md:col-6">
					<label htmlFor="firstname2">Firstname</label>
					<input pInputText id="firstname2" type="text" />
				</div>
				<div class="field col-12 md:col-6">
					<label htmlFor="lastname2">Lastname</label>
					<input pInputText id="lastname2" type="text" />
				</div>
				<div class="field col-12">
					<label htmlFor="address">Address</label>
					<input pInputTextarea id="address" rows="4" />
				</div>
				<div class="field col-12 md:col-6">
					<label htmlFor="city">City</label>
					<input pInputText id="city" type="text" />
				</div>
				<div class="field col-12 md:col-3">
					<label htmlFor="state">State</label>
					 <p-dropdown [options]="dropdownItems" optionLabel="name" [(ngModel)]="selectedState"></p-dropdown> -->
<!-- </div>
				<div class="field col-12 md:col-3">
					<label htmlFor="zip">Zip</label>
					<input pInputText id="zip" type="text" />
				</div>
			</div>
		</div>
	</div>
</div> -->
