<div class="grid">

    <div class="col-12 lg:col-6 xl:col-3 pb-0">
        <div class="card mb-0">
            <div class="flex justify-content-between mb-1">
                <div>
                    <span class="block text-500 font-medium mb-2 font-bold">Sua Localização</span>
                    <button (click)="showDialogSelecionaCidade()" class="p-button-rounded p-button-outlined w-full" pButton pRipple type="button" iconPos="right" label="Braço do Norte" icon="pi pi-angle-down"></button>
                </div>
                <div class="flex align-items-center justify-content-center border-round"
                    style="color: #FFFFFF; background-color: #2563eb;background-image: linear-gradient(152deg, #2563eb 0%, #39b7b7 100%);"
                    [ngStyle]="{width: '4.5rem', height: '4.5rem'}">
                    <i class="pi pi-map-marker text-3xl"></i>
                </div>
            </div>
            <!-- <span class="text-green-500 font-medium">24 new </span>
                <span class="text-500">since last visit</span> -->
        </div>
    </div>

    <div class="col-12 lg:col-6 xl:col-3 pb-0">
        <div class="card mb-0">
            <div class="flex justify-content-between mb-1">
                <div>
                    <span class="block text-500 font-medium mb-2 font-bold">Meus Eventos</span>
                    <label style="font-size: 30px; color:#2563eb" class="m-0 p-0 font-bold">0</label>
                </div>
                <div class="flex align-items-center justify-content-center border-round"
                    style="color: #FFFFFF; background-color: #2563eb;background-image: linear-gradient(152deg, #2563eb 0%, #39b7b7 100%);"
                    [ngStyle]="{width: '4.5rem', height: '4.5rem'}">
                        <fa-icon class="text-3xl" [icon]="faRankingStar"></fa-icon>
                </div>
            </div>
            <!-- <span class="text-green-500 font-medium">24 new </span>
                <span class="text-500">since last visit</span> -->
        </div>
    </div>

    <div class="col-12 lg:col-6 xl:col-3 pb-0">
        <div class="card mb-0">
            <div class="flex justify-content-between mb-1">
                <div>
                    <span class="block text-500 font-medium mb-2 font-bold">Eventos na Cidade</span>
                    <label style="font-size: 30px; color:#2563eb" class="m-0 p-0 font-bold">{{ cardEventos.length }}</label>
                </div>

                <div class="flex align-items-center justify-content-center border-round"
                    style="color: #FFFFFF; background-color: #2563eb;background-image: linear-gradient(152deg, #2563eb 0%, #39b7b7 100%);"
                    [ngStyle]="{width: '4.5rem', height: '4.5rem'}">
                    <i class="fa-solid fa-city text-3xl"></i>
                </div>
            </div>
            <!-- <span class="text-green-500 font-medium">24 new </span>
                <span class="text-500">since last visit</span> -->
        </div>
    </div>

    <div class="col-12 lg:col-6 xl:col-3 pb-0">
        <div class="card mb-0">
            <div class="flex justify-content-between mb-1">
                <div>
                    <span class="block text-500 font-medium mb-2 font-bold">Esportes Tipo</span>
                    <label style="font-size: 30px; color:#2563eb" class="m-0 p-0 font-bold">2</label>
                </div>
                <div class="flex align-items-center justify-content-center border-round"
                    style="color: #FFFFFF; background-color: #2563eb;background-image: linear-gradient(152deg, #2563eb 0%, #39b7b7 100%);"
                    [ngStyle]="{width: '4.5rem', height: '4.5rem'}">
                    <i class="fa-regular fa-futbol text-3xl"></i>
                </div>
            </div>
            <!-- <span class="text-green-500 font-medium">24 new </span>
                <span class="text-500">since last visit</span> -->
        </div>
    </div>

    <!-- <div class="col-12 lg:col-6 xl:col-3">
            <div class="card mb-0">
                <div class="flex justify-content-between mb-1">
                    <div>
                        <span class="block text-500 font-medium mb-1">Meus jogos</span>
                    </div>
                    <div class="flex align-items-center justify-content-center bg-blue-100 border-round" [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                        <i class="pi pi-shopping-cart text-blue-500 text-xl"></i>
                    </div>
                </div>
                 <span class="text-green-500 font-medium">24 new </span>
                <span class="text-500">since last visit</span>
            </div>
        </div> -->

    <!-- <div class="col-12 lg:col-6 xl:col-3">
            <div class="card mb-0">
                <div class="flex justify-content-between mb-3">
                    <div>
                        <span class="block text-500 font-medium mb-3">Revenue</span>
                        <div class="text-900 font-medium text-xl">$2.100</div>
                    </div>
                    <div class="flex align-items-center justify-content-center bg-orange-100 border-round" [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                        <i class="pi pi-map-marker text-orange-500 text-xl"></i>
                    </div>
                </div>
                <span class="text-green-500 font-medium">%52+ </span>
                <span class="text-500">since last week</span>
            </div>
        </div> -->
    <!--    <div class="col-12 lg:col-6 xl:col-3">
            <div class="card mb-0">
                <div class="flex justify-content-between mb-3">
                    <div>
                        <span class="block text-500 font-medium mb-3">Customers</span>
                        <div class="text-900 font-medium text-xl">28441</div>
                    </div>
                    <div class="flex align-items-center justify-content-center bg-cyan-100 border-round" [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                        <i class="pi pi-inbox text-cyan-500 text-xl"></i>
                    </div>
                </div>
                <span class="text-green-500 font-medium">520  </span>
                <span class="text-500">newly registered</span>
            </div>
        </div>
        <div class="col-12 lg:col-6 xl:col-3">
            <div class="card mb-0">
                <div class="flex justify-content-between mb-3">
                    <div>
                        <span class="block text-500 font-medium mb-3">Comments</span>
                        <div class="text-900 font-medium text-xl">152 Unread</div>
                    </div>
                    <div class="flex align-items-center justify-content-center bg-purple-100 border-round" [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                        <i class="pi pi-comment text-purple-500 text-xl"></i>
                    </div>
                </div>
                <span class="text-green-500 font-medium">85 </span>
                <span class="text-500">responded</span>
            </div>
        </div> -->

    <!-- <div class="col-12 xl:col-6">
            <div class="card">
                <h5>Recent Sales</h5>
                <p-table [value]="products" [paginator]="true" [rows]="5" responsiveLayout="scroll">
                    <ng-template pTemplate="header">
                        <tr>
                            <th>Image</th>
                            <th pSortableColumn="name">Name <p-sortIcon field="name"></p-sortIcon></th>
                            <th pSortableColumn="price">Price <p-sortIcon field="price"></p-sortIcon></th>
                            <th>View</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-product>
                        <tr>
                            <td style="width: 15%; min-width: 5rem;">
                                <img src="assets/demo/images/product/{{product.image}}" class="shadow-4" alt="{{product.name}}" width="50">
                            </td>
                            <td style="width: 35%; min-width: 7rem;">{{product.name}}</td>
                            <td style="width: 35%; min-width: 8rem;">{{product.price | currency:'USD'}}</td>
                            <td style="width: 15%;">
                                <button pButton pRipple type="button" icon="pi pi-search" class="p-button p-component p-button-text p-button-icon-only"></button>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
            <div class="card">
                <div class="flex justify-content-between align-items-center mb-5">
                    <h5>Best Selling Products</h5>
                    <div>
                        <button pButton type="button" icon="pi pi-ellipsis-v" class="p-button-rounded p-button-text p-button-plain" (click)="menu.toggle($event)"></button>
                        <p-menu #menu [popup]="true" [model]="items"></p-menu>
                    </div>
                </div>
                <ul class="list-none p-0 m-0">
                    <li class="flex flex-column md:flex-row md:align-items-center md:justify-content-between mb-4">
                        <div>
                            <span class="text-900 font-medium mr-2 mb-1 md:mb-0">Space T-Shirt</span>
                            <div class="mt-1 text-600">Clothing</div>
                        </div>
                        <div class="mt-2 md:mt-0 flex align-items-center">
                            <div class="surface-300 border-round overflow-hidden w-10rem lg:w-6rem" [ngStyle]="{height: '8px'}">
                                <div class="bg-orange-500 h-full" [ngStyle]="{width: '50%'}"></div>
                            </div>
                            <span class="text-orange-500 ml-3 font-medium">%50</span>
                        </div>
                    </li>
                    <li class="flex flex-column md:flex-row md:align-items-center md:justify-content-between mb-4">
                        <div>
                            <span class="text-900 font-medium mr-2 mb-1 md:mb-0">Portal Sticker</span>
                            <div class="mt-1 text-600">Accessories</div>
                        </div>
                        <div class="mt-2 md:mt-0 ml-0 md:ml-8 flex align-items-center">
                            <div class="surface-300 border-round overflow-hidden w-10rem lg:w-6rem" [ngStyle]="{height: '8px'}">
                                <div class="bg-cyan-500 h-full" [ngStyle]="{width: '16%'}"></div>
                            </div>
                            <span class="text-cyan-500 ml-3 font-medium">%16</span>
                        </div>
                    </li>
                    <li class="flex flex-column md:flex-row md:align-items-center md:justify-content-between mb-4">
                        <div>
                            <span class="text-900 font-medium mr-2 mb-1 md:mb-0">Supernova Sticker</span>
                            <div class="mt-1 text-600">Accessories</div>
                        </div>
                        <div class="mt-2 md:mt-0 ml-0 md:ml-8 flex align-items-center">
                            <div class="surface-300 border-round overflow-hidden w-10rem lg:w-6rem" [ngStyle]="{height: '8px'}">
                                <div class="bg-pink-500 h-full" [ngStyle]="{width: '67%'}"></div>
                            </div>
                            <span class="text-pink-500 ml-3 font-medium">%67</span>
                        </div>
                    </li>
                    <li class="flex flex-column md:flex-row md:align-items-center md:justify-content-between mb-4">
                        <div>
                            <span class="text-900 font-medium mr-2 mb-1 md:mb-0">Wonders Notebook</span>
                            <div class="mt-1 text-600">Office</div>
                        </div>
                        <div class="mt-2 md:mt-0 ml-0 md:ml-8 flex align-items-center">
                            <div class="surface-300 border-round overflow-hidden w-10rem lg:w-6rem" [ngStyle]="{height: '8px'}">
                                <div class="bg-green-500 h-full" [ngStyle]="{width: '35%'}"></div>
                            </div>
                            <span class="text-green-500 ml-3 font-medium">%35</span>
                        </div>
                    </li>
                    <li class="flex flex-column md:flex-row md:align-items-center md:justify-content-between mb-4">
                        <div>
                            <span class="text-900 font-medium mr-2 mb-1 md:mb-0">Mat Black Case</span>
                            <div class="mt-1 text-600">Accessories</div>
                        </div>
                        <div class="mt-2 md:mt-0 ml-0 md:ml-8 flex align-items-center">
                            <div class="surface-300 border-round overflow-hidden w-10rem lg:w-6rem" [ngStyle]="{height: '8px'}">
                                <div class="bg-purple-500 h-full" [ngStyle]="{width: '75%'}"></div>
                            </div>
                            <span class="text-purple-500 ml-3 font-medium">%75</span>
                        </div>
                    </li>
                    <li class="flex flex-column md:flex-row md:align-items-center md:justify-content-between mb-4">
                        <div>
                            <span class="text-900 font-medium mr-2 mb-1 md:mb-0">Robots T-Shirt</span>
                            <div class="mt-1 text-600">Clothing</div>
                        </div>
                        <div class="mt-2 md:mt-0 ml-0 md:ml-8 flex align-items-center">
                            <div class="surface-300 border-round overflow-hidden w-10rem lg:w-6rem" [ngStyle]="{height: '8px'}">
                                <div class="bg-teal-500 h-full" [ngStyle]="{width: '40%'}"></div>
                            </div>
                            <span class="text-teal-500 ml-3 font-medium">%40</span>
                        </div>
                    </li>
                </ul>
            </div>
        </div> -->

    <div class="col-12 xl:col-12">

        <div class="card">

            <p-dataView #dv [value]="products" [paginator]="true" [rows]="8" filterBy="name" [sortField]="sortField"
                [sortOrder]="sortOrder" layout="grid">
                <ng-template pTemplate="header">
                    <div class="flex flex-column md:flex-row md:justify-content-between gap-2">
                        <div class="flex flex-row align-items-center">
                            <h5>Eventos</h5>
                        </div>

                        <div class="flex flex-row gap-4">
                            <button (click)="showDialogNovoEvento()" class="p-button-rounded p-button-outlined" pButton pRipple type="button" label="Criar Evento" icon="fa-solid fa-plus"></button>

                            <p-dropdown  [options]="sortOptions"
                            placeholder="Filtrar Esporte Tipo"
                                (onChange)="onSortChange($event)"></p-dropdown>
                            <p-dataViewLayoutOptions></p-dataViewLayoutOptions>
                        </div>

                    </div>
                </ng-template>

                <ng-template let-products pTemplate="listItem">
                    <div class="col-12" *ngFor="let evento of cardEventos">
                        <div class="flex flex-column md:flex-row align-items-center p-3 w-full card m-2 p-0 surface-border" style="color: #FFFFFF; background-color: #2563eb;background-image: linear-gradient(170deg, #2563eb 0%, #39b7b7 100%);">
                            <img [src]="evento.urlImagem" class="my-4 md:my-0 w-9 md:w-10rem mr-5" />
                            <div class="flex-1 flex flex-column align-items-center text-center md:text-left">
                                <div class="text-2xl">{{evento.esporteTipo}}</div>
                                <!-- <div class="mb-2">aaa</div> -->
                                <!-- <p-rating [ngModel]="product.rating" [readonly]="true" [cancel]="false" styleClass="mb-2"></p-rating> -->
                                <div class="flex align-items-center mt-2">
                                    <i class="pi pi-tag mr-2"></i>
                                    <!-- <span class="font-semibold">aaa</span> -->
                                </div>
                            </div>
                            <div
                                class="flex flex-row md:flex-column justify-content-between w-full md:w-auto align-items-center md:align-items-end mt-5 md:mt-0">
                                <span
                                    class="text-2xl font-semibold mb-2 align-self-center md:align-self-end"></span>
                                <!-- <span [class]="'product-badge status-' + esporte.inventoryStatus.toLowerCase()">{{esporte.inventoryStatus}}</span> -->
                            </div>
                        </div>
                        <p-divider></p-divider>
                    </div>
                </ng-template>

                <!-- background-color: #2563eb;background-image: linear-gradient(180deg, #2563eb 0%, #39b7b7 100%); -->

                <ng-template let-products pTemplate="gridItem">
                    <div class="grid grid-nogutter">
                        <div class="col-12 md:col-4" *ngFor="let evento of cardEventos">
                            <div class="card m-2 p-0 surface-border" style="color: #FFFFFF; background-color: #2563eb;background-image: linear-gradient(170deg, #2563eb 0%, #39b7b7 100%);">
                                <div class="flex flex-row align-items-center justify-content-between p-5">
                                    <div class="flex flex-column">
                                        <div style="font-size: 18px;" class="font-bold">{{evento.esporteTipo.toUpperCase()}}</div>
                                    </div>
                                    <img class="mr-3 mt-3 ml-4" style="transform: scale(3);border-radius: 50%;" width="30px"
                                        height="30px" [src]="evento.urlImagem" />
                                </div>

                                <div class="flex flex-row justify-content-between pt-4 pb-4 pr-4 pl-4">
                                </div>

                                <div class="flex align-items-center justify-content-between pt-2 pb-4 pr-4 pl-4">

                                    <button style="color: #FFFFFF;" (click)="showDialogEventoEsporte()"
                                        label="Participar" pButton pRipple type="button" icon="pi pi-info-circle"
                                        class="p-button-rounded p-button-outlined"></button>

                                    <div class="flex align-items-center justify-content-center">

                                    </div>

                                    <div class="flex flex-row align-items-center justify-content-between mb-1">
                                        <div class="mr-4 font-bold">
                                            {{evento.quantidadePraticantes}} / {{evento.quantidade}}
                                        </div>

                                        <div class="flex align-items-center justify-content-center">
                                            <p-avatar
                                                image="https://primefaces.org/cdn/primeng/images/demo/avatar/xuxuefeng.png"
                                                size="large" shape="circle" />
                                        </div>

                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                </ng-template>
            </p-dataView>
        </div>
    </div>

    <!-- <div class="col-12 xl:col-6">

        <div class="card">
            <h5>Sales Overview</h5>
            <p-chart type="line" [data]="chartData" [options]="chartOptions"></p-chart>
        </div>

        <div class="card">
            <div class="flex align-items-center justify-content-between mb-4">
                <h5>Notifications</h5>
                <div>
                    <button pButton type="button" icon="pi pi-ellipsis-v"
                        class="p-button-rounded p-button-text p-button-plain" (click)="menu.toggle($event)"></button>
                    <p-menu #menu [popup]="true" [model]="items"></p-menu>
                </div>
            </div>

            <span class="block text-600 font-medium mb-3">TODAY</span>
            <ul class="p-0 mx-0 mt-0 mb-4 list-none">
                <li class="flex align-items-center py-2 border-bottom-1 surface-border">
                    <div
                        class="w-3rem h-3rem flex align-items-center justify-content-center bg-blue-100 border-circle mr-3 flex-shrink-0">
                        <i class="pi pi-dollar text-xl text-blue-500"></i>
                    </div>
                    <span class="text-900 line-height-3">Richard Jones
                        <span class="text-700"> has purchased a blue t-shirt for <span
                                class="text-blue-500">79$</span></span>
                    </span>
                </li>
                <li class="flex align-items-center py-2">
                    <div
                        class="w-3rem h-3rem flex align-items-center justify-content-center bg-orange-100 border-circle mr-3 flex-shrink-0">
                        <i class="pi pi-download text-xl text-orange-500"></i>
                    </div>
                    <span class="text-700 line-height-3">Your request for withdrawal of <span
                            class="text-blue-500 font-medium">2500$</span> has been initiated.</span>
                </li>
            </ul>

            <span class="block text-600 font-medium mb-3">YESTERDAY</span>
            <ul class="p-0 m-0 list-none">
                <li class="flex align-items-center py-2 border-bottom-1 surface-border">
                    <div
                        class="w-3rem h-3rem flex align-items-center justify-content-center bg-blue-100 border-circle mr-3 flex-shrink-0">
                        <i class="pi pi-dollar text-xl text-blue-500"></i>
                    </div>
                    <span class="text-900 line-height-3">Keyser Wick
                        <span class="text-700"> has purchased a black jacket for <span
                                class="text-blue-500">59$</span></span>
                    </span>
                </li>
                <li class="flex align-items-center py-2 border-bottom-1 surface-border">
                    <div
                        class="w-3rem h-3rem flex align-items-center justify-content-center bg-pink-100 border-circle mr-3 flex-shrink-0">
                        <i class="pi pi-question text-xl text-pink-500"></i>
                    </div>
                    <span class="text-900 line-height-3">Jane Davis<span class="text-700"> has posted a new questions
                            about your product.</span></span>
                </li>
            </ul>
        </div>

        <div class="px-4 py-5 shadow-2 flex flex-column md:flex-row md:align-items-center justify-content-between mb-3"
            [ngStyle]="{borderRadius: '1rem', background: 'linear-gradient(0deg, rgba(0, 123, 255, 0.5), rgba(0, 123, 255, 0.5)), linear-gradient(92.54deg, #1C80CF 47.88%, #FFFFFF 100.01%)'}">
            <div>
                <div class="text-blue-100 font-medium text-xl mt-2 mb-3">TAKE THE NEXT STEP</div>
                <div class="text-white font-medium text-5xl">Try PrimeBlocks</div>
            </div>
            <div class="mt-4 mr-auto md:mt-0 md:mr-0">
                <a target="_blank" href="https://www.primefaces.org/primeblocks-ng"
                    class="p-button font-bold px-5 py-3 p-button-warning p-button-rounded p-button-raised">
                    Get Started
                </a>
            </div>
        </div>
    </div> -->
</div>

<p-dialog header="Edit Profile" [modal]="true" [(visible)]="visible" [style]="{ width: '25rem' }">
    <span class="p-text-secondary block mb-5">Update your information.</span>
    <div class="flex align-items-center gap-3 mb-3">
        <label for="username" class="font-semibold w-6rem">Username</label>
        <input pInputText id="username" class="flex-auto" autocomplete="off" />
    </div>
    <div class="flex align-items-center gap-3 mb-5">
        <label for="email" class="font-semibold w-6rem">Email</label>
        <input pInputText id="email" class="flex-auto" autocomplete="off" />
    </div>
    <div class="flex justify-content-end gap-2">
        <p-button label="Cancel" severity="secondary" (click)="visible = false" />
        <p-button label="Save" (click)="visible = false" />
    </div>
</p-dialog>
